:root {
    /* 1 .. 3? */
    --ball-size: 1; /*ej implementerat*/
    /* 1 .. 10? */
    --ball-speed: 1;
    /* -100 .. +100 */
    --ball-pos-x: 0;
    --ball-pos-y: 0;
    /* 1 .. 3? */
    --paddle-size: 1; /*ej implementerat*/
    --paddle-speed: 3;
    --paddle-left-pos-y: 0;
    --paddle-right-pos-y: 0;
    /* -10 .. 10? */
    --paddle-size-left: 0; /*ej implementerat*/
    --paddle-size-right: 0; /*ej implementerat*/
    --paddle-speed-left: 0;
    --paddle-speed-right: 0;
    /* design values */
    --side-buffer: 1px; /* goal trigger line */
    --ball-radius: 5px; /* default = 5px */
    --margin-from-wall: 20px; /* default = 20px */
    --paddle-thickness: 20px; /* default = 20px */
    --paddle-relative-size: 100px; /* default = 100px */
    --font-size-scoreboard: 25pt; /* default = 25pt */
    --font-size-colon-compensation: -6; /* to compensate font colon offset */
}
body {
    background-color: black;
    margin: unset;
    overflow: hidden;
    /*cursor: none;*/
}
div {
    position: absolute;
}
.goal-area {
    /*background-color: greenyellow;*/
    width: calc(var(--paddle-thickness) + var(--margin-from-wall));
    height: 100vh;
}
#goal_area_left {
    left: 0;
}
#goal_area_right {
    right: 0;
}
#goal_line_left,
#goal_line_right {
    width: var(--side-buffer);
    height: 100vh;
}
#goal_line_left {
    left: 0
}
#goal_line_right {
    right: 0
}
#playing_area {
    /*background-color: mediumvioletred;*/
    left: calc(var(--paddle-thickness) + var(--margin-from-wall));
    right: calc(var(--paddle-thickness) + var(--margin-from-wall));
    height: 100vh;
}
#bounce_wall_lower,
#bounce_wall_upper {
    height: var(--side-buffer);
    width: 100vw;
}
#bounce_wall_lower {
    bottom: 0
}
#bounce_wall_upper {
    top: 0
}
.paddle {
    background-color: white;
    width: var(--paddle-thickness);
    height: calc(var(--paddle-size) * var(--paddle-relative-size));
}
#paddle_left {
    top: calc(((100 - var(--paddle-left-pos-y)) / 2) * 1vh + (var(--paddle-left-pos-y) - 100) / 100 * (var(--paddle-size) * var(--paddle-relative-size)) / 2);
    left: var(--margin-from-wall);
}
#paddle_right {
    top: calc(((100 - var(--paddle-right-pos-y)) / 2) * 1vh + (var(--paddle-right-pos-y) - 100) / 100 * (var(--paddle-size) * var(--paddle-relative-size)) / 2);
    right: var(--margin-from-wall);
}
#ball {
    background-color: white;
    width: calc(var(--ball-radius) * 2);
    height: calc(var(--ball-radius) * 2);
    transform:
            translateX(calc(var(--ball-size) *  1 * var(--ball-radius))),
            translateY(calc(var(--ball-size) * -1 * var(--ball-radius)));
    left: calc(((100 - var(--ball-pos-x)) / 2) * 1vw + (var(--ball-pos-x) - 100) / 100 * var(--ball-radius));
    top: calc(((100 - var(--ball-pos-y)) / 2) * 1vh + (var(--ball-pos-y) - 100) / 100 * var(--ball-radius));
}
body > img {
    z-index: -100;
}
body > img,
.paddle > img,
#ball > img {
    width: 100%;
    height: 100%;
    position: absolute;
}
body:has(img),
.paddle:has(img),
#ball:has(img) {
    background-color: transparent;
}
#scoreboard {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: var(--font-size-scoreboard);
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
#scoreboard > div {
    position: unset;
}
.score {
    min-width: 100vw;
    max-width: 100vw;
}
#score_left {
    text-align: right;
}
#score_right {
    text-align: left;
}
#colon {
    margin-top: calc(var(--font-size-scoreboard) / var(--font-size-colon-compensation));
}